.headline{
    text-align: center;
}
.maincomponent {
    width:99%;
    height:500px;
    /* border:1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #afb4e0;
}

.signupform {
    width:400px;
    height:350px;
    border: 1px solid blue;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.emailsignup , .passwordsignup{
    padding: 0.6rem;
}

.signupbutton{
    padding: 0.6rem;
}

.AccountContainer{
    display: flex;
}

h5{
    font-size: 1rem;
}