.headline{
    text-align: center;
}
.maincomponent {
    width:99%;
    height:500px;
    /* border:1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginform {
    width:400px;
    height: 250px;
    border: 1px solid blue;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.emaillogin , .passwordlogin{
    padding: 0.6rem;
}

.loginbutton{
    padding: 0.6rem;
}